.maintext{
    text-align: center;
    font-weight: 550;
    font-size: 50px;
    margin-top: 60px;
    color: black;
}
.blogbox{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 80px -20px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 80px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 80px -20px rgba(0,0,0,0.75);
}
.blogbox h2 ,.blogbox p{
    color: white;
} 
.blogbox h2{
    font-size: 25px;
    font-weight: 600;
}
.navcontainer ul{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}
.navcontainer ul li{
    font-size: 20px;
    color: black;
}
.loading{
    text-align: center;
    font-size: 50px;
    margin-top: 280px;
    color: black;
}